
main_frame {
    /*greyish blue background color*/
    /*background-color:   #e1fafa;*/
    background-color: #c2d6d6;
    width: 1000px;
    height: 400px;
}

h1, h2, h3, h4, h5, h6, p {
    color: #3B3738;
}

.cycle_text{
    background-color: red;
}

div {
    background-color: #b3ffcc;
    width: 300px;
    height: 200px;
}
